li {display: inline; margin-right: 40px;}
a {text-decoration: none; color: aliceblue;}
nav {background-color: rgb(209, 204, 204); line-height:50px; text-align: right;}
nav img {float: left; margin-top: 2px; height: 45px; width: 45px;}
body {background-color:rgb(223, 209, 208); margin:0}
aside {background-color: rgb(239, 235, 235); display: inline-block;width: 10%; height: 800px;vertical-align: top;}
section {background-color: rgb(223, 209, 208); display: inline-block; width: 90%; height: 800px;}
footer {background-color: rgb(235,235,235); height: 50px; color: rgb(158, 158, 158);}
aside li {display:block;}