
            li {display: inline; margin-right: 40px;}
            a {text-decoration: none; color: aliceblue;}
            nav {background-color: rgb(209, 204, 204); line-height:50px; text-align: right; display: block;}
            nav img {float: left; margin-top: 2px; height: 45px; width: 45px;}
            body {text-align: center; background-color:rgb(223, 209, 208); margin:0}
            p {font-family: cursive}